.App {
  text-align: center;
}

.Header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 20%;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  width: 100%;
}

.TextArea {
  width: 100%;
}

.Node {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2rem;
  /*background-color: #e9ecef;*/
}

.ErrorWindow {
  color: red;
}